html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent scrolling if it’s causing issues */
}

#root {
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}


/* APp Page */
.appPage {
  background-color: #3e3e3e;
  border: none;
  width: 100vw;
  height: 100vh;
}

/* src/components/EditPopup.css */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  max-height: 80vh; /* Limits the maximum height */
  width: 80vw; /* Sets a width for the popup */
  overflow-y: auto; /* Adds vertical scroll if content exceeds max-height */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  color: white; /* Text color for close button */
  cursor: pointer;
}

.activePopup {
  background-color: #4CAF50; /* Green background */
  color: white;
}

.button-container {
  display: flex;
  flex-direction: column;
}

/* Styling  Pages */

.viewPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.viewPageLeft, .viewPageRight {
  flex: 1;
  overflow: auto; /* Handle any overflow content */
}

.viewPageLeft {
  background-color: #3e3e3e;
}

/* Uploading Pages*/

.uploadPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.uploadMetadataPage {  
  margin-top: 60px;
}

.uploadDataFiles {
  max-height: 200px; /* Adjust this value to fit your design */
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  /* border: 1px solid #ccc; Optional: Add a border */
}

.uploadDataFileItem {
  /* padding: px; */
  /* border-bottom: 1px solid #eee; Optional: Add a border between items */
}