html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent scrolling if it’s causing issues */
}

#root {
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}


/* APp Page */
.appPage {
  background-color: #3e3e3e;
  border: none;
  width: 100vw;
  height: 100vh;
}

/* src/components/EditPopup.css */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  max-height: 80vh; /* Limits the maximum height */
  width: 80vw; /* Sets a width for the popup */
  overflow-y: auto; /* Adds vertical scroll if content exceeds max-height */
}

.popup-content form {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Adjust as needed */
  align-items: center;
  justify-content: center;
}

.popup-submit {
  flex: 0 1 auto; /* Size based on content */
  margin: auto; /* Centers the button horizontally */
}

.delete-button {
  display: inline-flex; /* Makes the button only as wide as its content */
  align-items: center;  /* Centers the content vertically within the button */
  justify-content: center; /* Centers the content horizontally within the button */
  padding: 6px; /* Removes any default padding */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
} 

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  color: white; /* Text color for close button */
  cursor: pointer;
}

.activePopup {
  background-color: #4CAF50; /* Green background */
  color: white;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align buttons horizontally */
  gap: 8px; /* Space between buttons */
}

.variable-item, .field-item, .author-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd; /* Optional: add border for better separation */
  border-radius: 10px; /* Optional: add rounded corners */
  gap: 5px;
}

/* Styling  Pages */

.viewPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.viewPageLeft, .viewPageRight {
  flex: 1;
  overflow: auto; /* Handle any overflow content */
}

.viewPageLeft {
  background-color: #3e3e3e;
}

/* Uploading Pages*/

.uploadPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* .uploadMetadataPage {  
  margin-top: 60px;
} */

.uploadDataFiles {
  max-height: 200px; /* Adjust this value to fit your design */
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  /* border: 1px solid #ccc; Optional: Add a border */
}

/* .uploadDataFileItem {
  padding: px; */
  /* border-bottom: 1px solid #eee; Optional: Add a border between items
} */

/* Metadata options */
.optionsButton {
  margin: 10px;
}

/* DataFormPage */
.promptFormSurvey {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  margin: 0 auto; /* Optional: Center the form */
  align-items: center;
}

.promptFormSurvey div {
  display: flex;
  flex-direction: row;
}

/* .promptFormSurvey label {
} */

.promptFormSurvey input, .authorInput {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.promptFormSubmit {
  width: fit-content;
}

.authorFormAddAuthors, .authorFormSubmit {
  margin: 15px;
}

.authorLabel {
  margin-left: 10px;
}

.pageDescription {
  margin-bottom: 32px;
}


/* Preview page */

.preview-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.previewButton {
  margin: 10px;
  padding: 0px;
  width: 22px;
  height: 22px;
  border-radius: 5px;
  background: none;
}

/* Button Container */

.backSubmitButtonContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

/* HoverPopup */
.hover-popup {
  white-space: normal; /* Allows text to wrap */
  word-wrap: break-word; /* Ensures long words or URLs wrap to the next line */
}

.hover-popup-title-container {
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.hover-popup-title-container button:first-of-type {
  margin-right: 4px; /* Adjust the margin to make the gap smaller */
}

.hover-popup-title-container button:last-of-type {
  margin-left: 4px; /* Optional: Adjust if needed for symmetry */
}

.delete-button-hover {
  /* display: inline-flex; */
  padding: 5px 5px;
  align-items: center;  /* Centers the content vertically within the button */
  justify-content: center; /* Centers the content horizontally within the button */
} 


.delete-button-hover img {
  width: 20px;  /* Larger image size */
  height: 20px; /* Larger image size */
}

.expand-button {
  padding-left: 12px;
  padding-right: 12px;
}

.variable-item-hover-popup, .field-item-hover-popup, .author-item-hover-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #e0e0e0; /* Even lighter gray border */
  border-radius: 10px; /* Optional: add rounded corners */
  gap: 5px;
  /* padding-left: 8px;
  padding-right: 8px; */
  margin-bottom: 10px;
}

