#root {
  max-width: 100%;
  margin: 0;
  padding: 2rem;
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* src/components/EditPopup.css */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  max-height: 80vh; /* Limits the maximum height */
  width: 80vw; /* Sets a width for the popup */
  overflow-y: auto; /* Adds vertical scroll if content exceeds max-height */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  color: white; /* Text color for close button */
  cursor: pointer;
}

.activePopup {
  background-color: #4CAF50; /* Green background */
  color: white;
}

.button-container {
  display: flex;
  flex-direction: column;
}

/* Styling  ViewPages */

.viewPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.viewPageLeft, .viewPageRight {
  flex: 1;
}

.viewPageLeft {
  background-color: #3e3e3e;
}
